{{#each this}}
<li class="item"><img src="{{flags.svg}}" width="30" height="20"><strong>{{name.official}}</strong></li>
<li class="item"><strong>Capital: </strong>{{capital}}</li>
<li class="item"><strong>Population: </strong>{{population}}</li>
<li class="item"><strong>Languages: </strong>{{languagesString}}</li>
{{/each}}

{{!-- <li>1</li> --}}
{{!-- <li>2</li> --}}
{{!-- <li>3</li> --}}
{{!-- <li>4</li> --}}