{{#each this}}
<li><strong><img src="{{flags.svg}}" width="30" height="20"> {{name.official}}</strong></li>
<li><strong>Capital: </strong>{{capital}}</li>
<li><strong>Population: </strong>{{population}}</li>
<li><strong>Languages: </strong>{{languagesString}}</li>
{{/each}}

{{!-- <li>1</li> --}}
{{!-- <li>2</li> --}}
{{!-- <li>3</li> --}}
{{!-- <li>4</li> --}}